<center>
        <ul>
            <li id="sign-up"><%= link_to "sign up", new_user_registration_path, :class => "button" %></li>
            <li id="log-in"><%= link_to "log in", new_user_session_path, :class => "button" %></li>
        </ul>
</center>