body {
    background-color: #F2F3F4;
}

h1 {
    color: #000;
    font-family: futura, sans-serif;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

h2 {
    color: #626567;
    font-size: 2rem;
    font-family: futura, sans-serif;
    font-weight: 100;
    margin-bottom: -.1rem;
    text-transform: uppercase;
}

h3 {
    color: #626567;
    /* float: left; */
    font-size: 1.2rem;
    font-family: futura, sans-serif;
    font-weight: 100;
    text-align: left;
}

h4 {
    color: #909497;
    font-size: .8rem;
    font-family: futura, sans-serif;
    font-weight: 100;
    margin-bottom: -1rem; 
}

h5 {
    color: #909497;
    font-size: .8rem;
    font-family: futura, sans-serif;
    font-weight: 100;
}

p {
    color: #000;
    font-size: .9rem;
    font-family: futura, sans-serif;
    font-weight: 100;
    margin-left: 1rem;
    margin-top: -1rem;
    text-align: left;
}

.organizations {
    color: #000;
    font-size: .9rem;
    font-family: futura, sans-serif;
    font-weight: 100;
    margin-left: 1rem;
    margin-top: -1rem;
    padding: .5rem;
    text-align: left;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.smaller-margins {
    margin-top: -.7rem;
}

.navigation {
    margin-bottom: .5rem;
}

a:visited, a:link, a:active
{
    color: #909497;
    font-family: futura, sans-serif;
    font-size: .8rem;
    font-weight: 100;
    margin: auto;
    /* margin-right: 1rem; */
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.shared-links {
    color: #909497;
    font-family: futura, sans-serif;
    font-size: .8rem;
    font-weight: 100;
    margin-bottom: -1rem;
    margin-top: 1rem; 
}

ul li{
    display: inline;
    font-family: "Franklin Gothic", sans-serif;
    font-size: 1rem;
    /* float: left; */
    /* line-height: 150%; */
    list-style-type: none;
    padding-right: 11px;
}

.button {
    background-color: #fff;
    border: 1px solid #D0D3D4;
    border-radius: 10px;
    box-shadow: 0 3px #E5E7E9;
    color: #626567;
    font-family: century gothic, sans-serif;
    margin-top: .2rem;
    padding: 5px;
    width: 5rem;  
}

.button:hover {
    background-color: #F2F3F4;
    color: #000;
}

/* sign up & login */
.registration-card {
    background-color: #fff;
    border: 1px solid #D0D3D4;
    border-radius: 10px;
    box-shadow: 3px 6px #E5E7E9;
    margin: auto;
    width: 25%;
}

.registration-fields {
    margin-top: 1rem;
   padding-bottom: 1.5rem;
  }

/* app container */
.profile-container {
    background: #fff;
    border: 1px solid #D0D3D4;
    border-radius: 10px;
    box-shadow: 3px 6px #E5E7E9;
    height: 75vh;
    margin: auto;
    margin-top: 5rem;
    overflow: scroll;
    width: 50vh;
}

.profile-content {
    background: #fff;
    border-top: 1px solid #D0D3D4;;
    height: 60vh;
    margin: auto;
    margin-top: 2rem;
    overflow: scroll;
    width: 45vh;
}

.organizations-container {
    border: 1px solid red;
    float: left;
    height: 15vh;
    margin-top: -1rem;
    overflow: scroll;
    padding-top: 1.5rem;
    width: 40vh;
}